.read-more-link:hover {
    color: black;
  }

  .read-more-link {
    color: white;
  }

  .card-with-shadow {
   
    padding: 20px;
    min-height: 100%;
    box-shadow: 9px 10px 23px rgb(253, 255, 216);
    transition: transform 0.2s; 
   
  }
  
  .card-with-shadow:hover {
    transform: translateY(-5px); 
  }